/*------------------------------------*\
	name: Typojix v1.2

	author: NOËL Mathieu
	date: 2015 - 2016
	brief: "Typojix" offre un "STARTER KIT" pour mettre en place, simplifier et uniformiser la typologie de vos pages web.
	MIT License (https://github.com/noelma/Typojix/blob/master/LICENSE)
\*------------------------------------*/
/*------------------------------------*\
	$COLONNES
\*------------------------------------*/
.txt-gap,
.txt-gap-dotted,
.txt-gap-dashed,
.txt-gap-solid{
	-webkit-column-gap:40px;
	-moz-column-gap:40px;
	column-gap:40px;
}
.txt-dotted,
.txt-gap-dotted{
	-webkit-column-rule:1px dotted;
	-moz-column-rule:1px dotted; 
	column-rule:1px dotted;
}
.txt-dashed,
.txt-gap-dashed{
	-webkit-column-rule:1px dashed #CCC;
	-moz-column-rule:1px dashed #CCC; 
	column-rule:1px dashed #CCC;
}
.txt-solid,
.txt-gap-solid{
	-webkit-column-rule:1px solid #CCC;
	-moz-column-rule:1px solid #CCC; 
	column-rule:1px solid #CCC;
}
.txt-xs-1{
	-webkit-column-count: 1;
	-moz-column-count: 1;
	column-count: 1;
}
.txt-xs-2{
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
}
.txt-xs-3{
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
}
.txt-xs-4{
	-webkit-column-count: 4;
	-moz-column-count: 4;
	column-count: 4;
}
.txt-xs-5{
	-webkit-column-count: 5;
	-moz-column-count: 5;
	column-count: 5;
}
.txt-xs-6{
	-webkit-column-count: 6;
	-moz-column-count: 6;
	column-count: 6;
}
@media (min-width: 768px){
	.txt-sm-1{
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
	.txt-sm-2{
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
	.txt-sm-3{
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
	.txt-sm-4{
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
	.txt-sm-5{
		-webkit-column-count: 5;
		-moz-column-count: 5;
		column-count: 5;
	}
	.txt-sm-6{
		-webkit-column-count: 6;
		-moz-column-count: 6;
		column-count: 6;
	}
}
@media (min-width: 992px){
	.txt-md-1{
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
	.txt-md-2{
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
	.txt-md-3{
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
	.txt-md-4{
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
	.txt-md-5{
		-webkit-column-count: 5;
		-moz-column-count: 5;
		column-count: 5;
	}
	.txt-md-6{
		-webkit-column-count: 6;
		-moz-column-count: 6;
		column-count: 6;
	}
}
@media (min-width: 1200px){
	.txt-lg-1{
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
	.txt-lg-2{
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
	.txt-lg-3{
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
	.txt-lg-4{
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
	.txt-lg-5{
		-webkit-column-count: 5;
		-moz-column-count: 5;
		column-count: 5;
	}
	.txt-lg-6{
		-webkit-column-count: 6;
		-moz-column-count: 6;
		column-count: 6;
	}
}